.container {
  flex: 1;
}

.title {
  text-align: center;
  font-weight: bold;
  color: #888;
  margin-bottom: 5px;
}

.info {
  text-align: center;
  font-weight: bold;
  color: "#000";
}
